<footer>
  {%- if not config.extra.hide_made_with_line %}
    {{ trans(key="made_with", lang=lang) }} <a href="https://codeberg.org/alanpearce/zola-bearblog">Zola ʕ•ᴥ•ʔ Bear</a>
  {%- endif %}
  {%- if config.extra.footer_menu %}
    {%- for item in config.extra.footer_menu %}
      {%- if current_lang == config.default_language %}
        {%- set title = item.name %}
      {%- else %}
        {%- set language_key = 'name_' ~ current_lang %}
        {%- set title = item[language_key] %}
      {%- endif %}
      {%- if item.url is matching("https?://") %}
        <a href="{{ item.url }}">{{ title }}</a>
      {%- else %}
        <a href="{{ get_url(path=item.url, lang=lang )}}">{{ title }}</a>
      {%- endif %}
    {%- endfor %}
  {%- endif -%}
</footer>
