{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}

{% block main %}
  {%- if not page.extra.menu -%}
    <h1 class="pagetitle">{{ page.title }}</h1>

    <div class="below_title">
    {%- if page.taxonomies %}
    <span class="tagline">
      {%- for name, taxon in page.taxonomies %}
        {%- for item in taxon %}
        <a href="{{ get_taxonomy_url(kind=name, name=item, lang=lang) }}">{{name | capitalize}}::{{ item | capitalize }}</a>
        {%- endfor %}
      {%- endfor %}
    </span>
    {%- endif %}

    {%- if page.date %}
      <p class="date">
        <time datetime="{{ page.date | date(format='%+') }}" pubdate>
          {{- page.date | date(format=config.extra.date_format) -}}
        </time>
      </p>
    {%- endif %}
    </div>

    <p>{{page.description}} </p>
    <hr>
  {%- endif %}

  {%- if config.extra.table_of_contents.show and not page.extra.hide_table_of_contents and page.toc %}
    <details {% if config.extra.table_of_contents.visible_on_load %}open{% endif %}>
      <summary>{{ trans(key="table_of_contents", lang=lang) }}</summary>
      {{- macros::table_of_contents(toc=page.toc, max_level=config.extra.table_of_contents.max_level) | indent() | safe() }}
    </details>
  {%- endif %}

  <main>
    {{ page.content | safe }}
  </main>

  {%- if page.extra.enable_comments %}
  <script src="https://giscus.app/client.js"
    data-repo="sysrqmagician/sysrqmagician.dev"
    data-repo-id="R_kgDOPHux5A"
    data-category="Comments"
    data-category-id="DIC_kwDOPHux5M4Css-e"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
  {%- endif %}
{% endblock %}
