{% extends "base.html" %}

{% block main %}
  <main>
    <br>
    <code style="display: block;">
    pub enum {{taxonomy.name | capitalize }} {
    <ul style="list-style-type: none; padding-left: 20px; margin-top: 0; margin-bottom: 0;">
      {%- set tags = get_taxonomy(kind="tag", lang=lang) %}
      {%- for post in tags.items %}
      <li>
        <a href="{{ post.permalink }}">{{ post.name | capitalize }}</a>&nbsp;
      </li>
      {%- endfor %}
    </ul>
    }
    </code>
  </main>
{% endblock %}
